body {
  margin: 0;
  background: #1A1B21;
  color: #f5f5f5;
  max-width: 317px;
  font-family: sans-serif;
}

img {
  object-fit: cover;
}

h1, h3, .website-text {
  text-align: center;
}

h1 {
  font-size: 25px;
  line-height: 30px;
  margin: 25px 0 0 0;
}

h3 {
  font-size: 12.8px;
  color: #f3bf99;
  margin: 6px 0 0 0;
}

.website-text {
  display: flex;
  justify-content: center;
  margin: 9px 0 15px 0;
  font-size: 11px;
  line-height: 150%;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.buttons > a {
  background: white;
  padding: .6rem 1rem;
  border-radius: .6rem;
  color: black;
  font-size: 14px;
}

.buttons > a > img {
  margin: 0 10px;
}

.buttons > .linkedin-btn {
  background-color: #5093E2;
  color: #fff;
  display: flex;
  align-items: center;
}

.buttons > .email-btn,
.buttons > .linkedin-btn {
  padding-left: .6rem;
}

.buttons > .email-btn:hover,
.buttons > .linkedin-btn:hover {
  cursor: pointer;
  filter: brightness(1.2)
}

.about-text {
  margin: 33px 36px 0 34px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

p {
  font-size: 11px;
  color: #DCDCDC;
  line-height: 150%;
  margin: 0;
}

.interests {
  margin-top: 27px;
}